#intoduction{
    background-color: #FEFCF3;
    height: max-content;
    
}


#destinations{
    background-color: #F5EBE0;
    padding: 3% 15%;
}

#logo-container{
    padding: 3% 15%;
    
    text-align: center;
    background-color: #F5EBE0 ;
  
}

#travel{
    padding: 10% 2%;
    background-color: #F0DBDB;     
}
#extra-info{
    padding: 3% 15%;
    background-color: #F0DBDB ;
}

.card{
    background-color: #F0DBDB;
}



.home-menu{
    margin-left: 400px;
}

.navbar-brand{
    font-size: 20px;
}

.container-fluid{
    text-align: center;
    padding: 3% 15%;
}

.adv-img{
    width: 30%;
    
}

/* class section styling */



.card-img-top{
    height: min-content;
    width: min-content ;
}




